body {
  background-color: white;
  margin: 0; padding: 0;
}

td {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  text-align: center;
}

.td-multiple {
  background-color: #3ebeff
}

table {
  margin-left:auto;
  margin-right:auto;
}

.control-div {
  align-self: center;
  margin: 0 auto;
  width: 70px;
  height: 50px;
}
