body {
  background-color: #688C4F;
  margin: 0; padding: 0;
}

table {
  margin-left:auto; 
  margin-right:auto;
  border-spacing: 5px;
  border-color #000000;
}

.td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:10px;
  border-color: #000000;
  overflow:hidden;
  word-break:normal;
}

.tr {
}

.regular-cell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #ffffff;
}

.control-div {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  background-color: #ccc;
}